extends base

block title
  if page.category
     title= page.category + " | " + config.title
  if page.tag
     title= page.tag + " | " + config.title
  if page.archive
     title= __('archive') + " | " + config.title

block main
  article
    .container
      if page.category || page.tag
          h1.label-title=  (page.category || page.tag)
      .post
        // show all categories and tags
        if !(page.category || page.tag)
            .all-categories
              ul.tag-box.list-unstyled
                for category in site.categories.sort('name').toArray()
                  li
                    a(href=url_for(category.path))= category.name
                      span= category.length
            .all-tags
              ul.tag-box.list-unstyled
                for tag in site.tags.sort('name').toArray()
                  li
                    a(href=url_for(tag.path))= tag.name
                      span= tag.length

        .post-archive
            //Use lodash to classify posts. See https://lodash.com/docs#groupBy
            each posts, year in _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')})
              h2= -year
              ul.listing
                for post in posts
                  li
                    span.date= post.date.format('YYYY/MM/DD')
                    a(href=url_for(post.path), title=post.title)
                      = post.title
  include _partial/paginator.jade
