if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if (config.root != '/')
  - var root = config.root
else
  - var root = ''

include _partial/helpers

doctype html
html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    block title
    link(rel='stylesheet', type='text/css', href=root + '/css/normalize.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/highlight.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/very-simple.css')

  body

    // include the sidebar
    // include ./includes/sidebar.jade

    // Blog title and subtitle
    header: .container.header
      a#logo.title(href='/')= config.title
      span.subtitle= config.subtitle

    // Navigation Links
    nav
      #nav.container
        each nav, name in theme.menu
          +a_with_current(nav, __(name))

    #header-margin-bar

    block main

    footer#footer
      .container
        .bar
          .social
            +social_icon('email', "mailto:", "fa-envelope-o")
            +social_icon('twitter', 'http://twitter.com/', 'fa-twitter')
            +social_icon('github', 'https://github.com/', 'fa-github')
            +social_icon('googleplus', 'https://plus.google.com/', 'fa-google-plus')
            +social_icon('rss', "", "fa-rss")

          .footer= '© '
            a(href='/', rel='nofollow')= config.title + '.'
            |  Powered by
            a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.

    if theme.fancybox
      link(rel='stylesheet', type='text/css', href=root + '/fancybox/jquery.fancybox.css')
      //script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script(src=root + '/fancybox/jquery.fancybox.pack.js')

      script.
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
