if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if (config.root != '/')
  - var root = config.root
else
  - var root = ''

include _partial/helpers

doctype html
html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    block title
    link(rel='stylesheet', type='text/css', href=root + '/css/normalize.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/highlight.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/very-simple.css')

  body

    // include the sidebar
    // include ./includes/sidebar.jade

    // Blog title and subtitle
    header: .container.header
      span.title= config.title
      span.subtitle= config.subtitle

    // Navigation Links
    nav
      #nav.container
        +a_with_current(config.root, __('home'), 'icon-home')
        +a_with_current(config.archive_dir, __('archive'), 'icon-archive')
        +a_with_current(config.about_dir, __('about'), 'icon-about')
        //+a_with_current(config.rss, __('rss'), 'icon-rss')

    #header-margin-bar

    block main

    footer#footer
      .container
        .bar
        .footer= '© '
          a(href='/', rel='nofollow')= config.title + '.'
          |  Powered by
          a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.

    if theme.fancybox
      link(rel='stylesheet', type='text/css', href=root + '/fancybox/jquery.fancybox.css')
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script(src=root + '/fancybox/jquery.fancybox.pack.js')

      script.
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });

    // label.sidebar-toggle(for="sidebar-checkbox")

    // script.
    //   (function(document) {
    //     var toggle = document.querySelector('.sidebar-toggle');
    //     var sidebar = document.querySelector('#sidebar');
    //     var checkbox = document.querySelector('#sidebar-checkbox');
    //     document.addEventListener('click', function(e) {
    //       var target = e.target;
    //       if(!checkbox.checked ||
    //          sidebar.contains(target) ||
    //          (target === checkbox || target === toggle)) return;
    //       checkbox.checked = false;
    //     }, false);
    //   })(document);
