extends base
- var current_title = page.title || tag.name || category.name || site.title

block main

  // Blog title and subtitle
  header: .container.header
    span.title= config.title
    span.subtitle= config.subtitle

  article
    .container.entries
      for post in page.posts.toArray()
        .entry
          .post-time
            .time= post.date.format(config.date_format)
          .post-title
            a.title(href=url_for(post.path))
              = post.title
          .post-tags.breadcrumb
              for tag in post.tags.toArray()
                a.tag(href=url_for(tag.path))= tag.name
