extends base
- var current_title = page.title || tag.name || category.name || site.title

block main

  article
    .container.entries
      for post in page.posts.toArray()
        .entry
          .post-time
            .time= post.date.format(config.date_format)
          .post-title
            a.title(href=url_for(post.path))
              = post.title
          .post-tags.breadcrumb
              for tag in post.tags.toArray()
                a.tag(href=url_for(tag.path))= tag.name

  footer
    .container
      .bar
      .footer= '© '
        a(href='/', rel='nofollow')= config.title + '.'
        |  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
